<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TVReminder</a>
  </div>
  <div class="collapse navbar-collapse">    
    <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.navigationData.left" navbar-item="item" ng-class="{'dropdown': item.childs, 'active': $ctrl.isActive(item)}"></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in $ctrl.navigationData.right" navbar-item="item" ng-class="{'dropdown': item.childs, 'active': $ctrl.isActive(item)}"></li>
    </ul>
  </div>
</nav>
